* {
  color: white;
}
.no-scroll {
  overflow: hidden;
}
body {
  max-width: 2500px;
  overflow-x: hidden;
}
.cenem {
  position: absolute;
  margin: auto auto;
  transform: translate(-50%, -50%);
}

.bgMain {
  background-image: url(./images/background-stars.svg);
  background-size: fill;
  /* transform: rotate(45deg); */
}

.mob_ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.336);
}
.mob_ul li:last-child {
  border-bottom: none;
}

.nvbt {
  border-bottom: 1px solid rgba(255, 255, 255, 0.753);
}
.tbbt {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.322);
}
.hin {
  height: auto;
}

@media screen and (max-width: 325px) {
  .txy {
    font-size: 9.5px;
  }
}
@media screen and (max-width: 701px) {
  .hin {
    height: 250px;
  }
}
@media screen and (max-width: 400px) {
  .hin {
    height: 300px;
  }
}
@media screen and (max-width: 321px) {
  .hin {
    height: 340px;
  }
}
@media screen and (max-width: 290px) {
  .txy {
    font-size: 8.5px;
  }
}
